/* variables.module.css */
.variables {
    --primary-color: #096a2e;
    --secondary-color: #8abe53;
    --background-color: rgb(255, 255, 255);
    --primary-button-color: #8abe53;
    --primary-button-hover-color: #8abe53;
    --primary-text-color: #000000;
    --secondary-text-color: #222222;
    --primary-color: #007bff;
    --font-family: Arial, sans-serif;
  }