/* header.module.css */
@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    /* You can adjust font weight and style as needed */
    font-style: normal;
    /* You can adjust font weight and style as needed */
  }
  
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    font-family: 'Montserrat';
    font-weight: 700;
    background-color: rgb(183, 216, 183);
    color: var(--primary-text-color);
    display: flex;
    align-items: center;
    box-shadow: 0px 3px 3px 0 #00000033;
    margin-bottom: 5px;
  }
  
  .banner {
    margin-top: 0 !important;
    width: auto !important;
    display: flex;
    align-items: center;
  }
  
  .logo {
    width: auto;
    height: 50px;
    margin-right: 10px;
    padding-left: 8px;
  }
  
  .title {
    font-size: 1.5rem;
    margin: 0;
  }
  
  .navigation {
    display: grid;
    height: 60px;
    align-items: center;
  }
  
  .navigation ul,
  .navigation li {
    list-style: none;
    display: flex;
    align-items: center;
    margin-block-start: 0;
    margin-block-end: 0;
    height: 100%;
  }
  
  .navigation li {
    height: 100%;
  }
  
  .navigation a {
    display: flex;
    align-items: center;
    color: var(--primary-text-color);
    text-decoration: none;
    height: 100%;
    padding: 0 20px;
  }
  
  .navigation a:hover {
    background-color: rgb(148, 175, 148);
  }
  
  .navigation .activeLink {
    position: relative;
  }
  
  .navigation .activeLink::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 15px;
    right: 15px;
    border-bottom: 3px solid #000;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }
  
  .profile {
    margin-left: auto;
    padding-right: 8px;
  }
  
  .profile ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .profile a {
    color: var(--primary-text-color);
    text-decoration: none;
  }
  
  .icon {
    width: 20px;
    color: #444;
    margin-right: 5px;
  }