.activitySettings .smallButton {
    padding: 2px 4px;
    border-radius: 2px;
}

.activitySettings h3 {
    margin-block-start: 0;
    margin-block-end: 0;
}

.activityInfo {
    display: flex !important;
    flex-direction: row;
    align-items: center; /* Center vertically */
}

.activityInfo p, .activityNameInput{
    margin-right: 10px; /* Add some spacing between text and button */
}

.activityInfo button {
    margin-top: 0px;
}

.settingsSavedMessage {
    opacity: 0;
    transition: opacity 0.3s ease-in-out; /* You can adjust the duration and easing function */
}
.settingsSavedMessage.show {
    opacity: 1;
}

.addedInput {
    list-style: none;
}

.addedInput button, .addInput input, .addInput button {
    margin-left: 10px;
}