/* settings.module.css */
.settingsContainer {
    display: flex;
    flex-direction: row;
    height: auto;
    margin-top: 0;
}
.settingsContainer .leftPanel {
    width: 225px;
    margin-right: 100px;
    background-color: #fff;
    padding: 20px 0;
    margin-top: 0;
    box-shadow: 3px 0 5px -3px rgba(0,0,0,0.25);
}
.settingsContainer .leftPanel .category {
    width: auto;
    cursor: pointer;
    padding: 5px 40px;
    margin-top: 0;
    border: double #fff;
    border-width: 2px 0;
}
.settingsContainer .leftPanel .category:hover {
    background-color: rgb(183, 216, 183);
    border: double rgb(183, 216, 183);
    border-width: 2px 0;
}
.settingsContainer .leftPanel .category:active,
.settingsContainer .leftPanel .activeCategory,
.settingsContainer .leftPanel .activeCategory:hover {
    background-color: #fff;
    font-weight: 700;
    border: double var(--secondary-color);
    border-width: 2px 0;
}
.settingsContainer .rightDisplay {
    width: 100%;
    min-height: 500px;
    margin-top: 0;
}
.settingsContainer div {
    display: block;
}
.settingsContainer label {
    margin-right: 20px;
}

.fifty {
    width: 50%;
}